*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #fff0fb;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-list ul li {
    padding: 10px;
    font-size: 18px;
}
#prg{
    background-color:#FFF0EB;
    height: 500px;
}
.td{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 20px;
    padding-top: 20px;
}


.se{
    width: 250px;
    height: 30px;
    background-color: white;
    margin-left: 950px;
    margin-top: -50px;
    border-radius: 40px;
}
.pro{
    margin-left: 800px;
    margin-top: -400px;
    width: 450px;
    height: 500px;
}
.te{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 60px;
    margin-left: 60px;
}
.at{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: -310px;
    margin-left: 60px;
}
.sh{
   background-color: #f9410a;
    color: white;
    border: none;
    padding: 2vh 3vw;
    margin-left: 60px;
    border-radius: 30px;
    font-size: larger;
    /* margin-top: 20px; */
}
.sea{
    margin-left: 50px;
    margin-top: -20px;
    color: rgba(110, 110, 110, 0.103);
}
.pro{
     width: 400px;
     height: 450px;
     margin-top: -180px;
     
}
.product-card {
    background-color: white;
    box-shadow: 0 3px 10px rgba(168, 168, 168, 0.582);
    padding: 20px;
    border-radius: 30px;
}

.product-card img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    align-items: center;
    padding: 5vw;
    justify-content: center;
}




nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    background-color: rgba(255, 255, 255, 0.356);
    height: 10vh;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.158);
}

.more {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    gap: 2vw;
    color: #393939;
}

#signin {
    height: fit-content;
    width: fit-content;
    padding: 1vh 2vh;
    border: none;
    font-size: 1.5rem;
    background: none;
    color: #393939;
}

.searchCont {
    position: relative;
    display: inline-block;
}

#searchBar {
    width: 20vw;
    padding: 2vh 2vw;
    height: 5vh;
    border: 1px #f9410a solid;
    background-color: rgb(255, 255, 255);
    border-radius: 30vw;
    outline: none;
    color: #f9410a;
}

.fa-search {
    position: absolute;
    left: 0.5vw;
    font-size: medium;
    color: #f9410a;
    top: 50%;
    transform: translateY(-50%);
}

#searchBar::placeholder {
    color: #f9410a;
}

.logo a{
    font-size: 2rem;
    font-weight: 700;
    color: #f9410a;
    text-decoration: none;
}

.logoLinks {
    display: flex;
    align-items: center;
}

.dropdown {
    color: #393939;
}

.pageLinks {
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.pageLinks li a {
    text-decoration: none;
    color: rgb(63, 62, 62);
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s;
}
.pageLinks li a:hover {
    color: #f9410a;
}
.dropdownContent li{
    text-decoration: none;
    color: rgb(63, 62, 62);
    font-size: 1.1rem;
    font-weight: 500;
}

.dropdown li {
    cursor: pointer;
}

.categoryLinks a {
    text-decoration: none;
    color: rgb(14, 14, 14);
    font-weight: 500;
    font-size: 1.1rem;
}

.dropdownContent {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    background-color: white;
    box-shadow: 0 8px 16px rgba(128, 128, 128, 0.267);
    min-width: 160px;
    list-style: none;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    transform: translateY(-10px);
}

.dropdownContent li{
    padding: 1vh 3vw;
}
.dropdownContent li:hover {
    background-color: #f9420a44;
}

.dropdown:hover .dropdownContent {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.hamburger, .close {
    display: none;
    cursor: pointer;
}

@media (max-width: 800px) {
    #navLinks {
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffded4;
        box-shadow: 0 8px 16px rgba(128, 128, 128, 0.267);
        width: 300px;
        height: 90vh;
        transition: all 0.3s ease;
    }

    #navLinks.showNav {
        opacity: 1;
        visibility: visible;
    }

    .pageLinks{
        display: flex;
        flex-direction: column;
        gap: 3vh;
        align-items: flex-start;
    }

    .dropdownContent{
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
     #searchBar{
        width: 100%;
        padding: 2vh 5vw;
     }
    .hamburger {
        display: block;
        margin-right: 4vw;
    }

    .close {
        display: block;
    }
}

/* @media (max-width: 1100px) {
    #searchBar {
        padding: 2vh 3vw;
    }
} */
