*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    /* background-color: #fff0fb; */
    background-color: #ffffff;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#categories ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#categories h1{
    margin: 0;
}
#categories ul li {
    padding: 10px;
    font-size: 18px;
}
#categories {
    padding: 120px 20px 20px 20px;
}


.product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 350px;
    width: 250px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(128, 128, 128, 0.212);
    padding: 20px 10px;
    border-radius: 5px;
    gap: 10px;
    overflow: hidden;
}
.product-card button{
    background-color: #fc5e2f;
    border: none;
    font-size: 0.8rem;
    padding: 8px 15px;
    border-radius: 30px;
    color: white;
    transition: 0.3s;
}
.product-card button:hover{
    cursor: pointer;
    background-color: #fe410a;
}
.product-card h3{
    margin: 0;
}
.cardDis {
    margin: 0;
    font-size: 0.8rem;
}
.cardPrice{
    margin: 0;
    font-size: 1.1rem;
}
.product-card div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card img {
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}
.cardImg{
    height: 65%;
    display: flex;
}
#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 15vh 10px 10px 10px;
    justify-content: center;
}
@media (max-width: 500px) {
    .product-card{
        height: 450px;
        width: 300px;
    }
        .cardDis {
            font-size: 0.8rem;
        }
    
        .cardPrice {
            font-size: 1.3rem;
        }
    .product-card button {
        font-size: 1rem;
    }
}



nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    background-color: rgba(255, 255, 255, 0.356);
    min-height: 60px;
    width: 100vw;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.158);
    position: fixed;
    z-index: 999;
}

.more {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    gap: 2vw;
    color: #393939;
    margin-right: 20px;
}

#signin {
    height: fit-content;
    width: fit-content;
    padding: 1vh 2vh;
    border: none;
    font-size: 1.5rem;
    background: none;
    color: #393939;
}

.searchCont {
    position: relative;
    display: inline-block;
}

#searchBar {
    width: 20vw;
    padding: 10px 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.233) ;
    outline: none;
    color: #f9410a;
}

.fa-search {
    position: absolute;
    left: 10px;
    font-size: medium;
    color: #f9410a;
    top: 50%;
    transform: translateY(-50%);
}

#searchBar::placeholder {
    color: #f9410a;
}

.logo a{
    font-size: 2rem;
    font-weight: 700;
    color: #f9410a;
    text-decoration: none;
}

.logoLinks {
    display: flex;
    align-items: center;
}

.dropdown {
    color: #393939;
}

.pageLinks {
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.pageLinks li a {
    text-decoration: none;
    color: rgb(63, 62, 62);
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s;
}
.pageLinks li a:hover {
    color: #f9410a;
}
.dropdownContent li{
    text-decoration: none;
    color: rgb(63, 62, 62);
    font-size: 1.1rem;
    font-weight: 500;
}

.dropdown li {
    cursor: pointer;
}

.categoryLinks a {
    text-decoration: none;
    color: rgb(14, 14, 14);
    font-weight: 500;
    font-size: 1.1rem;
}

.dropdownContent {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    background-color: white;
    box-shadow: 0 8px 16px rgba(128, 128, 128, 0.267);
    min-width: 160px;
    list-style: none;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    transform: translateY(-10px);
}

.dropdownContent li{
    padding: 1vh 3vw;
}
.dropdownContent li:hover {
    background-color: #f9420a44;
}

.dropdown:hover .dropdownContent {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.hamburger, .close {
    display: none;
    cursor: pointer;
}
.shopping{
    display: flex;
    flex-direction: row;
}
#cart-count {
    background-color: rgb(206, 206, 206);
    padding: 1px 6px;
    font-size: 1rem;
    height: fit-content;
    border-radius: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}










#welcome {
    padding: 20vh 5vw 0 5vw;
    text-align: center;
}
.homeImg{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeTxt{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.homeImg img{
    height: 100%;
}
.td {
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
.at{
    font-size: 1rem;
    color: #393939;
    line-height: 1.2;
}
.te {
    font-size: 2.3rem;
    font-weight: 700;
    margin: 0;
}

.sh {
    font-size: 0.9rem;
    background-color: #f9410a;
    color: white;
    border: none;
    padding: 9px 20px;
    border-radius: 30px;
    transition: 0.3s;
    animation: bounce 1.5s linear infinite;
}
@keyframes bounce {
    50%{transform: translateY(15px);}
}


.sh:hover{
    transform: scale(1.1);
}
.sea {
    color: rgba(110, 110, 110, 0.103);
}

.pro {
    width: 400px;
    height: 450px;
}

@media (min-width: 950px) {
    #welcome{
        display: flex;
        gap: 10vh;
        padding-top: 20vh;
        justify-content: space-between;
        text-align: left;
    }
    .homeImg{
        height: 80vh;
        justify-content: flex-end;
    }
    .homeTxt{
        padding-top: 10vh;
        width: 55%;
        height: fit-content;
    }
    .at{
        font-size: 1.2rem;
        line-height: normal;
    }
    .te{
        font-size: 4.5rem;
    }
    
    .sh{
        font-size: 1.3rem;
    }
}



@media (max-width: 800px) {
    #navLinks {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffded4da;
        box-shadow: 0 8px 16px rgba(128, 128, 128, 0.267);
        width: 300px;
        transition: all 0.3s ease;
    }

    #navLinks.showNav {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        height: 100vh;
        overflow: hidden;
        overflow-y: auto;
    }

    .pageLinks{
        display: flex;
        flex-direction: column;
        gap: 3vh;
        align-items: flex-start;
    }

    .dropdownContent{
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
     #searchBar{
        width: 100%;
        padding: 10px 30px;
     }
    .hamburger {
        display: block;
        margin: 0 10px;
    }
    .close {
        display: block;
        padding-left: 10px;
        font-size: larger;
    }
}